@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Smooch+Sans&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #222434;
    color: #FBFEF9;
}

.body{
    margin: 2vh 5vw;
}

.money{
    font-family: 'Smooch Sans', sans-serif;
}

.profit{
    color: #6DFF8C;
}

h1{
    font-size: 2.5rem;
    line-height: 1.4em;

}

h2{
    font-size: 2.1rem;
    line-height: 1.4em;

}

h3{
    font-size: 1.8rem;
    line-height: 1.4em;

}

h4{
    font-size: 1.6rem;
    line-height: 1.4em;

}

h5{
    font-size: 1.4rem;
    opacity: 0.8;
    line-height: 1.4em;

}
p{
    text-align: justify;
    line-height: 1.4rem;
}
a{
    text-decoration: none;
    color: #FBFEF9;
}

nav h1{
    font-size: 1.6rem;
    font-weight: bold;
}

.navlink{
    font-size: 1.4rem;
    margin: 0px 10px;
    width: 5vw;
    transition: 0.2s;
    border-radius: 5px;
    text-align: center;
    padding: auto;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.navlink:hover{

    background-color: #FBFEF9;
    border-radius: 5px;
    text-align: center;
    padding: auto;
    padding-top: 5px;
    padding-bottom: 5px; 
    color: #1b1c29;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 2vh 5vw;
    background-color: #1b1c29;
}

.navlinks{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 10vw;
    min-width: max-content;
}


/* Login Page */

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    text-align: left;
    align-content: space-between;
    background-color: #1b1c29;
    padding: 50px;
    border: #FBFEF9 5px, solid;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

input{
    padding: 5px 5px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 0px solid;
    width: 20vw;
}

.formInput{
    margin: 15px 0px;


}

.formButton{
    font-size: 1.3em;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px solid;  
}