{% extends 'Base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="Dashboard">
    <div class="dashheader">
        <h1>
            Hey, {{userdata['name']}}
        </h1>
        <div class="dashlinks">
        <div class="addorremovecard">
            <h5>
                <a href="/addincome" class="green">
                    Add an Income
                </a>
            </h5>
        </div>
        <div class="addorremovecard">
            <h5>
                <a href="/addexpenditure" class="red">
                    Add an Expenditure
                </a>
            </h5>
        </div>
    </div>
   
    </div>
    <div class="row">
    <div class="incomevsexpenseline">
        <canvas id="incomevsexpensesline"></canvas>
    </div>
    <div class="savingsandcomparison">
        
        <canvas id="incomevsexpensesbar" ></canvas>
        <h2 class="profit money savings" id="amountsaved">
             +135%
        </h2>
    </div>
</div>
</div>
{% endblock %}